.imageGalleryList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 36px;
  padding: 66px;
}

.imageGalleryListItem {
  display: flex;
  height: 212px;
  width: calc((100% - 16px * 3) / 4);
  border-radius: 6px;
  box-shadow: 0px 0px 5px 0px #9b9fa185;
  /* transition: box-shadow 200ms linear; */
  cursor: pointer;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.imageGalleryListItem:hover {
  transform: scale(1.03);
  cursor: zoom-in;
  box-shadow: 0px 0px 15px 20px cyan;
}
